.select {
  z-index: 30;
  margin-top: 10px;
  .itemWrapper {
    margin-left: 15px;
    margin-right: 15px;

    .divider {
      width: 100%;
      height: 1px;
      background-color: rgba(51, 51, 51, 0.15);
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

.wrapper {
  position: relative;
}
