.tradingView {
  position: relative;
}

.maText {
  width: 120px;
  height: 70px;
  position: absolute;
  padding: 8px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.23);
  text-align: left;
  z-index: 1000;
  pointer-events: none;

  .maValue {
    color: rgba(4, 111, 232, 1)
  }
}
