.App {
  text-align: center;
  min-width: 100vw;
  min-height: calc(100vh - 30px);
  padding: 15px 0 0 15px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.tradingViewWrapper {
  display: flex;
  justify-content: center;
}
